#num_tombo{
	width: 30% !important;
	max-width: 30% !important;
}

.destaque{
	background-color: #FFFF00;
}

.th_center{
	text-align: center;
}

.ibox, .ibox2{
	display: none;
}

.ui-icon, .ui-widget-content .ui-icon{
	background-image: url("#{resource['img:ui-icons_222222_256x240.png']}") !important;
}

.ui-widget-header {
    border: 1px solid #9FB6CD !important;
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #9FB6CD !important;
    color: #00008B !important;
    font-weight: normal !important;
}

.tbl_chamados tr td{
	padding: 1em;
}

mark{
	background-color:#FFFF00 !important;
	font-weight: bold;
}
 
table tr td{
	text-align: justify;
}

.ui-tree{
	width:100% !important;
}

.pequena{
	width:20% !important;
} 

.grande{
	width:80% !important;
}

.ui-autocomplete{
	width:100% !important;
	position: relative !important;
}

.ui-inputfield {
	width:80% !important;
}

.scr {
    overflow: auto;
    max-height: 768px;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

.alert-chat {
    color: #000000;
    background-color: #A9A9A9 !important;
    border-color: #A9A9A9 !important;
}

.btn-primary{
	background-color: #009ACD !important;
  border-color: #009ACD !important;
}

