.destaque{
	background-color: #FFFF00;
}

.th_center{
	text-align: center;
}

.ibox{
	display: none;
}

.ui-icon, .ui-widget-content .ui-icon{
	background-image: url("#{resource['img:ui-icons_222222_256x240.png']}") !important;
}

.ui-widget-header {
    border: 1px solid #9FB6CD !important;
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #9FB6CD !important;
    color: #00008B !important;
    font-weight: normal !important;
}

.tbl_chamados tr td{
	padding: 1em;
}

mark{
	background-color:#FFFF00 !important;
	font-weight: bold;
}
 
table tr td{
	text-align: justify;
}

.ui-tree{
	width:100% !important;
}

.pequena{
	width:20% !important;
} 

.grande{
	width:80% !important;
}

.ui-autocomplete{
	width:100% !important;
	position: relative !important;
}

.ui-inputfield {
	width:80% !important;
}